<h1>Formulario para cadastrar pagamento</h1>

<form action="/add-pagamento" method="POST">
  <label for="">Nome</label>
  <input type="text" name="nome"><br><br>
  <label for="">Valor</label>
  <input type="text" name="valor"><br><br>
  <button type="submit">Cadastar</button>
</form>